html {
  height: 100%;
}

body {
  background-color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
body .container-fluid {
  height: 100%;
}

#category-instructions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#food-grid {
  margin-top: 6em;
}
#food-grid .food-div {
  position: relative;
  margin-bottom: 3rem;
}
#food-grid .food-div:before {
  content: "";
  display: block;
  width: 0;
  padding-top: 100%;
}
#food-grid .food-img {
  width: 100%;
  height: 100%;
  /* object-fit: none; */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
#food-grid .food-info {
  position: absolute;
  left: 0%;
  top: 100%;
  transform: translate(0%, -100%);
  margin-left: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3em;
}
#food-grid .check-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #00ff33;
  opacity: 0.7;
}
#food-grid .remove-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  opacity: 0.7;
}

.store-div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.5em;
  border-radius: 1em;
  width: 100%;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.store-div .store-img-div {
  width: 33%;
}
.store-div .store-img-div .store-img {
  width: 100%;
}
.store-div .store-body {
  margin-left: 1em;
}
.store-div .store-body .store-name {
  padding-bottom: 0.5em;
}

/* navbar {{{ */
nav {
  /* height: 70px; */
  height: 3em;
  margin-bottom: 3em;
  background-color: black;
}
nav .navbar-nav .nav-link {
  color: white !important;
}
nav .navbar-nav .pointer {
  cursor: pointer !important;
}
nav #searchBar {
  transition: background-color 0.3s ease;
  height: 34px;
}
nav #searchButton {
  background-color: #282828;
  border: none;
}
nav #searchBar {
  transition: background-color 0.3s ease;
  height: 34px;
}
nav .hover-red:hover {
  background-color: #ED2A2A !important;
}
nav input:focus {
  background-color: #ED2A2A !important;
}
nav #navCollapseBtn {
  background-color: #282828;
}
nav #navCollapseIcon {
  font-size: 28px;
}
nav #largeSearchForm {
  margin-left: 1em;
}
nav .dropdown-menu {
  min-width: 0%;
}
nav #sorting-options .dropdown-label {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
nav #sorting-options .dropdown-label i {
  margin-right: 0.25em;
}
nav #sorting-options .dropdown-menu i {
  color: black;
  margin-right: 0.25em;
}
nav #sorting-options .dropdown-menu .dropdown-item {
  padding: 2px 0.75rem;
}
nav i {
  color: white;
}

/* }}} navbar */
#userSettingsButton {
  background-color: black;
  border: none;
}

.transition-all {
  transition: all 0.5s ease;
}

.blur {
  /* position: fixed;
  top: 0;
  left: 0; */
  box-shadow: rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.popup {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  height: 400px;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-title {
  color: white;
  font-size: 70px;
  font-weight: 300;
}

.input-box {
  display: inline-block;
  margin-left: 50px;
  width: 250px;
  margin-right: 0;
  border-radius: 5px;
  border: none;
  height: 35px;
  padding-left: 20px;
}

.popup-input-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 300px;
  /* background-color: pink; */
}

.popup-icon {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.popup-text {
  color: white;
  font-weight: 300;
}

.popup-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#popupLoginBtn {
  margin-right: 5px;
}

#popupCancelBtn {
  margin-left: 5px;
}

input:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
