//  mixins {{{ //

@mixin center-rel-parent() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
}

@mixin rel-parent($from-left, $from-top) {
  position: absolute;
  left: $from-left;
  top: $from-top;
  transform: translate( -$from-left, -$from-top );
}

//  }}} mixins //

//  base {{{ //

html {
  overflow: auto;
}

body {
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  overflow: auto;

  .container-fluid {
    overflow: auto;
  }
}

#category-instructions {
  @include center-rel-parent();
}

//  }}} base //

#food-grid {// {{{
  margin-top: 6em;
  // height: 100%;

  .food-div {
    position: relative;
    margin-bottom: 3rem;

    &:before {
      content: "";
      display: block;
      width: 0;
      padding-top: 100%;
    }
  }

  .food-img {
    width: 100%;
    height: 100%;
    /* object-fit: none; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .food-info {
    @include rel-parent(0%, 100%);
    margin-left: 15px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: .3em;
  }

  .check-icon {
    @include center-rel-parent();
    // color: green;
    color: #00ff33;
    opacity: .7;
  }

  .remove-icon {
    @include center-rel-parent();
    color: red;
    opacity: .7;
  }
}// }}}

.store-div {// {{{
  background-color: rgba(255,255,255,0.2);
  // background-color: rgba(0,0,0,.25);
  // background-color: white;
  padding: 1.5em;
  border-radius: 1em;
  width: 100%;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;

  .store-img-div {
    width: 33%;

    .store-img {
      width: 100%;
    }
  }

  .store-body {
    margin-left: 1em;

    .store-name {
      // color: #;
      padding-bottom: .5em;
    }
  }
}// }}}

/* navbar {{{ */

nav {
  /* height: 70px; */
  height: 3em;
  margin-bottom: 3em;
  background-color: black;
  @include rel-parent(0%, 0%);

  .navbar-nav {
    .nav-link {
      color: white!important;
    }

    .pointer {
      cursor: pointer!important;
    }
  }

  .hover-red:hover {
    background-color: #ED2A2A!important;
  }

  .search-bar {
    transition: background-color 0.3s ease;
    height: 34px;
    width: 190px;
  }

  .search-button {
    background-color: #282828;
    border: none;
  }

  input:focus {
    background-color: #ED2A2A!important;
  }

  #navCollapseBtn {
    background-color: #282828;
    height: 33px;
    width: 40px;
    text-align: center;
    padding: 0;
  }

  #navCollapseIcon {
    font-size: 23px;
  }

  #largeSearchForm {
    margin-left: .5em;
    margin-right: .5em;
  }

  .dropdown-menu {
    // min-width: 100%;
    min-width: 0%;
  }

  #sorting-options {
    // margin-right: 1em;

    .dropdown-label {
      margin-left: .5em;
      margin-right: .5em;

      i {
        margin-right: .25em;
      }
    }

    .dropdown-menu {
      i {
        color: black;
        margin-right: .25em;
      }

      .dropdown-item {
        padding: 2px .75rem;
      }
    }

  }

  i {
    color: white;
  }
}

/* }}} navbar */

//  login pop-up {{{ //

#userSettingsButton {
  background-color: black;
  border: none;
}

.transition-all {
  transition: all 0.5s ease;
}

.blur {
  /* position: fixed;
  top: 0;
  left: 0; */
  box-shadow:rgba(255,255,255,0.05);
  filter: blur(10px);
}

.popup {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  height: 400px;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-larger {
  height: 450px;
}

.popup-title {
  color: white;
  font-size: 70px;
  font-weight: 300;
}

.input-box {
  display: inline-block;
  margin-left: 50px;
  width: 250px;
  margin-right: 0;
  border-radius: 5px;
  border: none;
  height: 35px;
  padding-left: 20px;
}

.popup-input-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 300px;
  text-align: left;
}

.popup-icon {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.popup-icon-left-padding {
  left: 2px;
}

.popup-text {
  color: white;
  font-weight: 300;
}

.popup-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#popupLoginBtn {
  margin-right: 5px;
}

#popupCancelBtn {
  margin-left: 5px;
}

#postalCodeInput {
  width: 201px;
}

#postalCodeQuestionBtn {
  height: 36px;
  margin-left: 10px;
}

input:focus {
  outline: none;
}
.navbar .navbar-collapse {
  background-color: black;
}

/* Applies the CSS on screens that are md and smaller
This CSS makes styles the collapsed navbar. It must be applied when the
screen is md or smaller, because this CSS alters the layout of the navbars
for lg and larger screen sizes. */
@media(max-width:767.98px){
  .navbar .navbar-collapse {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

//  }}} login pop-up //
