//  mixins {{{ //

@mixin center-rel-parent() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
}

@mixin rel-parent($from-left, $from-top) {
  position: absolute;
  left: $from-left;
  top: $from-top;
  transform: translate( -$from-left, -$from-top );
}

//  }}} mixins //

body{
  background-color: grey;
}

#food-grid {// {{{
  margin-top: 6em;

  #category-instructions {
    @include center-rel-parent();
  }

  .food-div {
    position: relative;
    margin-bottom: 3rem;

    &:before {
      content: "";
      display: block;
      width: 0;
      padding-top: 100%;
    }
  }

  .food-img {
    width: 100%;
    height: 100%;
    /* object-fit: none; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .food-info {
    @include rel-parent(0%, 100%);
    margin-left: 15px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: .3em;
  }

  .check-icon {
    @include center-rel-parent();
    // color: green;
    color: #00ff33;
    opacity: .7;
  }

  .remove-icon {
    @include center-rel-parent();
    color: red;
    opacity: .7;
  }
}// }}}

/* navbar {{{ */

.navbar-custom {
  /* height: 70px; */
  height: 3em;
  background-color: black;
}

.nav-link {
  color: white!important;
}

.pointer {
  cursor: pointer!important;
}

#searchButton {
  background-color: #282828;
  border: none;
}

.hover-red:hover {
  background-color: #ED2A2A!important;
}

#searchBar {
  transition: background-color 0.3s ease;
  height: 34px
}

#navDropdownList {
  margin-right: 55px;
}

input:focus {
  background-color: #ED2A2A!important;
}

#navCollapseBtn {
  background-color: #282828;
}

#navCollapseIcon {
  font-size: 28px;
}

#largeSearchForm {
  margin-left: 1em;
}

#sort-options {
  margin-right: 1em;
}

.fa-shopping-cart {
  color: white;
}

/* }}} navbar */
